{#
/**
 * This is really very useless as a template. However, it
 * offers the ability to swap out the display of contacts
 * very easily via a template override, allowing customised
 * display of contact information.
 */
#}
<span>{{ civicrm_contact.label }}</span>